/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

html, body {

    height: 100%;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


header {

  height: 319px;
  width: 100%;
    border-top: 17px solid #D57373;
    background-image: url(../images/texture.png);
    padding: 55px 0;
    margin-bottom: 67px;
}

aside {

  height: 97.5% /*720px*/;
  width: 17%;
    float: left;
    background: url(../images/backgrounds/back1.jpg);
    background-size: 100% auto;
}

.tasks {

    height: 90%;
    width: 77%;
    float: left;
    padding: 77px 0 0 55px;
}

.favBar {

    width: 6%;
    background: #F5F5F5;
    border-left: 1px dashed #B5B5B5;
    padding-top: 30px;
}

.favBar img {

    margin: auto;
    width: 20%;
    margin-bottom: 30px;
}



.favBar .fav-task {

    height: 40px;
    width: 40px;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid black;
    border-left: 4px solid black;
    margin:auto;
    position: relative;
    
}

.fav-task:hover {
    
    width: 150px;
    margin: 0;
    
}

footer {

    height: 40px;
     font-size: 13px;
    color: #BABABA;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.border {

    width: 100%;
    height: 2.5%;
    background-color: #D57373;
}

.container {

  padding: 0 20px;
  width: 100%;
}


.signingOpts {

    width:503px;
    margin: auto;
    height: 57px;
}

.signingOpts span {

    vertical-align: middle;
}

.signingOpts div {

    display: inline-block;
}

/* TYPOGRAPHY */

body {

    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

h1 {

    font-size: 32px;
    margin-bottom: 32px;
}

h1 span {

    font-size: 15px;
    color: #D1D1D1;
}

h2 {
    font-size: 22px;
    color: #5E5E5E;
    text-align: center;
    margin-top: 40px;

}



/*GENERALS*/

.btn {

    border-radius: 2px;
    background-color: #D57373;
    font-size: 14px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.btn:hover {

    background-color: #c76b6b;
}

.aside-content {

    width: 100%;
    height: 100%;
    background-color: #888888;
    background-color: rgba(0, 0, 0, .6);
    padding-top: 20px;
}

input {

    font-family: 'Lato', sans-serif;
}


/*remove scrollbar */

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}



/*elements*/

header img {

    width: 297px;
    margin: auto;
    display: block;
}

.socials {

    width: 168px;
    height: 35px;
    border-top: 1px solid #D1D1D1;
    padding-top: 5px;
}



.txtLabels {

    color: #474747;
    font-size: 13px;
    height: 14px;
    width: 100%;
}

.txtLabels span {

    float: right;
}


.socials .btn {

    width: 45%;
    display: inline-block;
    height: 29px;
    line-height: 22px;
    padding-top: 6px;
}

.socials .btn img {

    height:16px;
}

.socials .face {

    background-color: #3B5998;
}

.socials .google {

    background-color: #D34836;
    margin-left: 8%;
}

.signUp {

    height: 35px;
    padding-top: 6px;
    width: 147px;
    margin-left: 20px;
    position: absolute;
}

.signUp .btn {

    display: block;
    width:100%;
    height: 29px;
    line-height: 22px;

}

.startUsing {

    height: 35px;
    border-top: 1px solid #D1D1D1;
    padding-top: 5px;
    width: 96px;
    float: right;
}

.startUsing .btn {

    display: block;
    width:100%;
    height: 29px;
    line-height: 28px;


}

/* FOOTER NAV - HOME AND SIGN UP*/

footer nav {

    border-top: 1px solid #E8E8E8;
    padding-top: 10px;
    margin: auto;
    width: 70%;
    height: 14px;

}

footer ul {

    width: 27%;
    margin: auto;
}

footer li {

    float: left;
    display: inline-block;
    margin-right: 10px;


}

/*Sign Up*/

.form {

    width: 100%;
}

form input {

    width: 48%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #D57373;
    padding-left: 10px;
}

form div {

    margin-bottom: 15px;
    width: 100%;
}

form .right {
    float: right;
}

form .wide {

    width: 100%;
    margin: 0;
}

/*Placeholder Styling*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */

    color: #e28383;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    color: #e28383;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */

    color:    #e28383;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */

    color: #e28383;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    opacity:  1;
}

/*end */

form input[type="submit"] {

    color: white;
    background-color: #D57373;
    border: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

form input[type="submit"]:hover {

    background-color: #c76b6b;
}

/*Lists and projects pages */

aside img {

    width: 106px;
    margin: auto;
    display: block;
}

footer.inner-pages nav{

    margin-left: 20.5%;
}

footer.inner-pages nav ul{

    margin: 0;
}

.tasks input {

    width: 70%;
    height: 35px;
    border: 2px solid #C8C8C8;
    border-radius: 2px;
    padding-left: 10px;
    line-height: 35px;
}

/*Placeholder styling */

.tasks ::-webkit-input-placeholder { /* WebKit, Blink, Edge */

    color: #A3A3A3;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.tasks :-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    color: #A3A3A3;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    opacity:  1;
}

.tasks ::-moz-placeholder { /* Mozilla Firefox 19+ */

    color: #A3A3A3;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    opacity:  1;
}

.tasks :-ms-input-placeholder { /* Internet Explorer 10-11 */

    color: #A3A3A3;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    opacity:  1;
}
/*end*/

.list {

    padding-top: 29px;
    width: 70%;
    height: 70%;
    overflow: scroll;
}

.task {

    width: 100%;
    height: 35px;
    border: 1px solid black;
    border-left: 5px solid black;
    border-radius: 0 2px 2px 0;
    margin-bottom: 9px;
    font-size: 14px;
    color: #5E5E5E;
    line-height: 35px;
    padding-left: 10px;
}

.task p {

    display: inline-block;
    position: relative;
    top:-3px;
}

.checkbox {

    height: 17px;
    display: inline-block;
    width: 17px;
    border: 1px solid #757575;
    border-radius: 4px;
    margin-right: 8px;
    margin-top: 8px;

}

.checked {

    border:3px solid white;
    background-color: #757575;
}
/*side-menus*/

.side-menu {

    width: 75%;
    margin: auto;
    margin-top: 35px;
    color: white;

}

.side-menu .lists-menu, .projects-menu {

    width: 100%;
    height: 100%;
}

.side-menu nav {

    margin-top: 19px;
    height: 160px;
    overflow: scroll;
}

.side-menu ul {

    list-style: none;
}

.side-menu li {

    margin-bottom: 14px;
    line-height: 1em;
}

.side-menu .list-mark {

	width: 1em;
	height: 1em;
	background-color: blue;
	display:inline-block;
	margin-right: 0.8em;
	position: relative;
	margin-top: 1px;
}

.menu-of-lists .list-mark {

	border-radius: 2px;
}

.menu-of-projects .list-mark {

	border-radius: 100%;
}

.side-menu p {

    width: 100%;

}
.side-menu a {
    text-decoration: none;
    color: inherit;
}

.add-object {

    float: right;
    display: none;
}

/* add new list or project styles */

.new-flash {

    z-index: 100;
    position: absolute;
    width: 77%;
    height: 90%;
    background-color: white;
    margin: -77px 0 0 -55px;
    padding: 77px 0 0 55px;
    display: none;

}

.new-flash input{

    border:none;
    font-size: 32px;
    line-height:32px;
    height: 40px;
    color: black;
    outline: none;
    font-family: 'Lato', sans-serif;
    padding-left: 0px;
    margin-bottom: 42px;

}

.new-flash h2{

    text-align: left;
    margin-bottom: 20px;
}

.new-flash .btn {

    width: 15%;
    height: 29px;
    display: inline-block;
    margin-right: 10px;
    line-height: 29px;
    padding: 0;
}

.new-flash .colors {

    width: 80%;
    height: 50px;
    border-top: 0.5px solid #d4d4d4;
    padding-top: 10px;
}

.new-flash textarea:focus, input:focus{
    outline: none;
}

/*STYLING PLACEHOLDER*/

.new-flash ::-webkit-input-placeholder { /* WebKit, Blink, Edge */

    font-size: 32px;
}

.new-flash :-moz-placeholder { /* Mozilla Firefox 4 to 18 */

    font-size: 32px;
    opacity:  1;
}

.new-flash ::-moz-placeholder { /* Mozilla Firefox 19+ */

    font-size: 32px;
    opacity:  1;
}

.new-flash :-ms-input-placeholder { /* Internet Explorer 10-11 */

    font-size: 32px;
    opacity:  1;
}
/*end*/

/* COLORS TO CHOOSE*/

.colors {

    margin-bottom: 40px;
}

.color {

    width: 25px;
    height: 25px;
    background-color: blue;
    display: inline-block;
    margin-right: 3px;
    border-radius: 2px;
}

.color:hover {

    border: 2px solid #626262;
}

.marked-color {

    border: 2px solid #626262;
}

.colors #c1 {background-color: #D57373;}
.colors #c2 {background-color: #2A8039;}
.colors #c3 {background-color: #CB8426;}
.colors #c4 {background-color: #6C74DD;}
.colors #c5 {background-color: #E3E31F;}
