/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


header {

  background-color: #D57373;
  height: 17px;
  width: 100%;
}

aside {

  height: 788px;
  width: 252px;

}

footer {

    height: 40px;
     font-size: 13px;
    color: #BABABA;
    width: 100%;
    position: absolute;
    bottom: 0;
    

}

.container {

  padding: 0 20px;
  width: 100%;

}

.showban {

  height: 302px;
  width: 100%;
    background-image: url(../images/texture.png);
    padding: 55px 0;
    margin-bottom: 67px;

}

.signingOpts {
    
    width:503px;
    margin: auto;
    height: 57px;
}

.signingOpts span {
    
    vertical-align: middle;
}

.signingOpts div {
    
    display: inline-block;
}

/* TYPOGRAPHY */

body {
    
    font-family: 'Lato', sans-serif;
    
}

h2 {
    font-size: 22px;
    color: #5E5E5E;
    text-align: center;
    margin-top: 40px;
    
}



/*GENERALS*/

.btn {
    
    border-radius: 2px;
    background-color: #D57373;
    font-size: 14px;
    color: white;
    text-align: center;
}

/*elements*/

.showban img {
    
    width: 297px;
    margin: auto;
    display: block;
}

.socials {
    
    width: 168px;
    height: 35px;
    border-top: 1px solid #D1D1D1;
    padding-top: 5px;
}



.txtLabels {
    
    color: #474747;
    font-size: 13px;
    height: 14px;
    width: 100%;
}

.txtLabels span {
    
    float: right;
}


.socials .btn {
    
    width: 45%;
    display: inline-block;
    height: 100%;
}

.socials .face {
    
    background-color: #3B5998;
}

.socials .google {
    
    background-color: #D34836;
    margin-left: 8%;
}

.signUp {
    
    height: 35px;
    padding-top: 6px;
    width: 147px;
    margin-left: 20px;
}

.signUp .btn {
    
    display: block;
    width:100%;
    height: 100%;
    
    line-height: 100%;
    
}

.startUsing {
    
    height: 35px;
    border-top: 1px solid #D1D1D1;
    padding-top: 5px;
    width: 96px;
    float: right;
}

.startUsing .btn {
    
    display: block;
    width:100%;
    height: 100%;
    
    
}

/* FOOTER NAV */

footer nav {
    
    border-top: 1px solid #E8E8E8;
    padding-top: 10px;
    margin: auto;
    width: 70%;
    height: 14px;
    
}

footer ul {
    
    width: 27%;
    margin: auto;
}

footer li {
    
    float: left;
    display: inline-block;
    margin-right: 10px;
   
    
}

